<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer" th:fragment="main_footer">
    <ul>
        <li id="robWelfare"><i class="icon iconfont icon-30"></i><span>抢福利</span></li>
        <li id="myWelfare"><i class="icon iconfont icon-shizhong"></i><span>我的福利任务</span></li>
        <li id="userCenter" class="active"><i class="icon iconfont icon-yonghu2"></i><span>个人中心</span></li>
    </ul>
    <script src="/static/scripts/foot.js"></script>
</div>
</body>
</html>