<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_main_css">
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <script src="/static/scripts/plugins/flexible.js"></script>
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_pae0fnfml5jt6gvi.css">-->
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script th:inline="javascript" >
    var userId = [[${userId}]];
    </script>
    <script src="/static/scripts/plugins/jquery-2.1.1.min.js"></script>
    <script src="/static/scripts/plugins/jquery.cookie.js"></script>
    <script type="application/javascript"  >
        function checkPhoneNum(str) {
            var myreg = /^((1[0-9]{2})+\d{8})$/;
            var isPhone = myreg.test(str);
            if (!isPhone) {
                alert("请输入正确手机号码")
            }
            return isPhone;
        }
        $(function () {
            $(".icon-jinlingyingcaiicon01").click(function () {
                history.go(-1);
            });
        });

    </script>
</head>
</html>