body {
  background-color: #f3f3f5;
  font-size: 12px;
}
body .red {
  color: red;
}
body .fiter-button {
  background-color: #fb7456;
}
body .navMenu {
  background-color: #454545;
}
body .navMenu a:link,
body .navMenu a:visited,
body .navMenu a:hover {
  font-size: 16px;
  color: #fff !important;
}
body .navbar {
  margin-bottom: 0;
}
body .navbar ul li::after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #c2c3c8;
}
body .view {
  width: 90%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-box-shadow: 0 0 40px #999999;
          box-shadow: 0 0 40px #999999;
}
body .view .left-menu {
  width: 200px;
  float: left;
  background-color: #fff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
body .view .left-menu .menu-item .menu-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b2b6bb;
  border-bottom: 1px solid #b2b6bb;
  background-color: #f9f9f9;
}
body .view .left-menu .menu-item ul .topMargin {
  margin-top: 20px;
}
body .view .left-menu .menu-item ul li {
  width: 200px;
  height: 40px;
  list-style-type: none;
  line-height: 40px;
  padding-left: 65px;
}
body .view .left-menu .menu-item ul li a {
  width: 100%;
  display: block;
  color: #000;
  text-decoration: none;
}
body .view .left-menu .menu-item ul li a i {
  margin-right: 5px;
}
body .view .left-menu .menu-item ul .active {
  background-color: #c4dce6;
}
body .view .section {
  float: left;
  background-color: #fff;
}
body .view .section .content {
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: relative;
  z-index: 1;
}
body .view .section .content .content-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #b2b6bb;
  position: relative;
  float: left;
  padding-left: 20px;
}
body .view .section .content .content-body {
  position: relative;
  padding-top: 60px;
  margin: 0 10px;
}
body .view .section .content .content-body .nav-tabs li {
  cursor: pointer;
}
body .view .section .content .content-body .tab-content {
  padding-top: 20px;
}
body .view .section .content .content-body .tab-content .form-element {
  display: inline-block;
  margin: 20px 0 0 20px;
}
body .view .section .content .content-body .tab-content .form-element label {
  font-weight: normal;
}
body .view .section .content .content-body .tab-content .form-element input {
  width: 100px;
}
body .view .section .content .content-body .tab-content li {
  border: 1px solid #ececec;
  list-style: none;
  margin-top: 20px;
}
body .view .section .content .content-body .tab-content li .top {
  height: 40px;
  background-color: #f1f1f1;
  line-height: 40px;
}
body .view .section .content .content-body .tab-content li .top .time {
  font-weight: bold;
  margin-right: 10px;
}
body .view .section .content .content-body .tab-content li .top .top-item {
  display: inline-block;
  margin: 0 50px;
}
body .view .section .content .content-body .tab-content li .bottom {
  height: 110px;
  padding-top: 10px;
}
body .view .section .content .content-body .tab-content li .bottom img {
  width: 100px;
  height: 100px;
  float: left;
}
body .view .section .content .content-body .tab-content li .bottom .product-desc {
  float: left;
  margin-left: 10px;
  word-wrap: break-word;
  width: 250px;
}
body .view .section .content .content-body .tab-content li .bottom .task-num {
  float: left;
  width: 80px;
}
body .view .section .content .content-body .tab-content li .bottom .price {
  font-weight: bold;
}
body .view .section .content .content-body .tab-content li .bottom .rep {
  margin-top: 20px;
}
body .require::after {
  content: "*";
  color: red;
}

/*# sourceMappingURL=map/base.css.map */
