<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::head_main_css">
</head>
    <link rel="stylesheet" href="/static/css/cash-withdrawals.css">
<body>
    <div class="cashWithdrawals">
        <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i>本金</div>
        <div class="content">
            <p class="rule"><a href="###">提现收费规则></a></p>
            <p><img src="/static/images/cash.png" alt=""></p>
            <p>我的本金</p>
            <p class="myCash" th:text="${money}">0.00</p>
        </div>
        <div class="list record">
            <ul>
                <li><a th:href="'/user/integral-log/' + ${userId}">本金记录<i class="icon iconfont icon-arrow-right"></i></a></li>
                <li><a th:href="'/user/take-log/' + ${userId} + '/1'">提现记录<i class="icon iconfont icon-arrow-right"></i></a></li>
            </ul>
        </div>
        <p class="button"><button class="submitButton">提现</button></p>
    </div>
</body>
</html>