<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::head_main_css">
</head>
    <link rel="stylesheet" href="/static/css/user-info.css">
<body>
    <div class="userInfo">
        <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i>个人资料</div>
        <div class="info">
            <ul>
                <li><div class="left">头像</div><div class="right"><i class="icon iconfont icon-arrow-right"></i></div></li>
                <li><div class="left">地区</div><div class="right"><span>北京，东城区</span><i class="icon iconfont icon-arrow-right"></i></div></li>
                <li><div class="left">QQ号码</div><div class="right"><span th:text="${user.userInfo.qq}"></span><i class="icon iconfont icon-arrow-right"></i></div></li>
                <li><div class="left">手机号码</div><div class="right"><span th:text="${user.userInfo.telphone}"></span><i class="icon iconfont icon-arrow-right"></i></div></li>
                <li><div class="left">登录密码</div><div class="right"><i class="icon iconfont icon-arrow-right"></i></div></li>
                <!--<li><div class="left">支付密码</div><div class="right"><i class="icon iconfont icon-arrow-right"></i></div></li>-->
            </ul>
        </div>
        <p class="logout"><button class="submitButton">退出登录</button></p>
    </div>
</body>
</html>