<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::head_main_css"></head>
    <link rel="stylesheet" href="/static/css/withdrawals.css">
<body>
    <div class="withdrawals">
        <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i></div>
        <div class="title"><span th:text="${type} + 提现">资金提现</span></div>
        <div class="content">
            <div class="top">
                <div class="left">
                    <input hidden id="withdrawals_qrcode" th:value="${src}"/>
                    <div class="radio"><input type="radio" checked><div class="text"><p class="cash">提现</p><p>微信收款二维码</p></div></div>
                    <div class="payee" >
                        <label for="" style="margin-top: 10px;">收款人: </label><input type="text" th:value="${user.userInfo.realName}" style="margin-top: 10px;">
                        <label for="" style="margin-top: 10px;">金&nbsp;&nbsp;&nbsp;额: </label><input type="text" th:value="${price}" style="margin-top: 10px;">
                    </div>
                </div>
                <div class="right"><img  th:src="${src}" alt=""><p>微信收款二维码</p></div>
            </div>
            <div class="bottom" hidden><div class="left"><div class="radio"><input type="radio"><div class="text"><p class="cash">提现</p><p>银行账号收款</p></div></div></div></div>
        </div>
        <div class="footer"><button id="withdrawals_commit">提交任务</button></div>
    </div>
</body>
</html>