<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <script src="/static/scripts/plugins/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_deah913ehzv0lik9.css">-->
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Project</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <i class="left icon iconfont icon-kefu"></i>
            <div class="user"><img src="/static/images/bingo.jpg" alt=""><span>Bingo</span><div><i class="icon iconfont icon-v1 v1"></i></div></div>
            <i class="right icon iconfont icon-shezhi"></i>
        </div>
        <div class="title">
            <div class="t_left"><i class="icon iconfont icon-meiyuanyuanquan-fill"></i><span>金币 : 10.00</span></div>
            <div class="middle"></div>
            <div class="t_right"><i class="icon iconfont icon-tixian1"></i><span>本金 : 10.00</span></div>
        </div>
        <div class="form">
            <p><label for="">福利号:</label><input type="text" disabled value="ke987"></p>
            <p><label for="">性别:</label><input type="radio" value="0" class="radio" name="sex">男<input type="radio" value="1" class="radio" name="sex">女</p>
            <p><label for="">登录密码:</label><input type="text" value=""></p>
            <p><label for="">确认密码:</label><input type="text" value=""></p>
            <p><button>完成</button></p>
            <p class="fuli">去领福利吧!</p>
        </div>
    </div>
    <script src="/static/scripts/plugins/zepto.js"></script>
    <script src="/static/scripts/index.js"></script>
</body>
</html>