<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header::head_main_css">
</head>
<link rel="stylesheet" href="/static/css/iconfont.css">
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/register.css">
<body>
<div class="register">
    <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i></div>
    <div class="vip"><img src="/static/images/vip.png" alt=""></div>
    <div class="form">
        <ul>
            <li><img src="/static/images/user.png" alt=""><input type="text" id="username" placeholder="用户名"></li>
            <li><img src="/static/images/password.png" alt=""><input type="password" id="checknum" placeholder="输入密码">
            </li>
        </ul>
        <input class="button" type="button" value="登录" id="login">
    </div>
    <div class="footer">
        <div class="left"><p><a href="/register">用户注册</a></p></div>
        <div class="right"><p><a href="/retrieve-pwd">找回密码</a></p></div>
    </div>
</div>
<div id="loadingModal"><div id="loading"></div></div>
<script src="/static/scripts/login.js"></script>
</body>
</html>