<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <script src="/static/scripts/plugins/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_akudv8rwprtl0udi.css">-->
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/operate.css">
</head>
<body>
    <div class="operate">
        <div class="top"><i class="icon iconfont icon-jinlingyingcaiicon01"></i><span>操作任务</span><button>取消任务</button></div>
        <div class="title"><i class="icon iconfont icon-cuxiaodiaopai"></i><span>商品信息</span></div>
        <div class="product-info">
            <div class="p_top"><span class="s_left">店铺名称 : 堡*****店</span><span class="s_right">任务计时 : <span class="red">00:57:25</span></span></div>
            <div class="content">
                <div class="c_left"><img src="/static/images/product.jpg" alt=""><div><span class="price">￥89</span><span class="sale-num">605人付款</span></div></div>
                <div class="c_middle"><img src="/static/images/product2.jpg" alt=""><div>外套男********</div></div>
                <div class="c_right">先收藏宝贝<br>拍下规格 : <p class="spec">【黑色2XL】</p>金额: 288</div>
            </div>
        </div>
        <div class="title"><i class="icon iconfont icon-renwu"></i><span>任务要点</span><span class="ps">注意：找到宝贝先截图保存哦！</span></div>
        <div class="task">
            <div class="task_top"><span class="task_top_left">任务类别 : 二维码</span><i class="icon iconfont icon-arrow-right"></i><span class="task_top_right red">打开淘宝</span></div>
            <div class="task_middle"><div class="task_middle_left"><img src="/static/images/qrcode.png" alt=""></div><div class="task_middle_middle">点击保存此二维码,
                用手机淘宝App扫一扫,
                找到宝贝即可.</div><div class="task_middle_right"></div></div>
            <div class="task_bottom"><div class="task_bottom_left"><p>买家留言要求 :</p><span>无</span></div><div class="task_bottom_right"><button class="button">复制</button></div></div>
        </div>
        <div class="title"><i class="icon iconfont icon-gantanhao"></i><span>注意事项</span></div>
        <div class="item">
            <ul>
                <li>确认使用<span>【猪爱yi】</span>买号登录手机淘宝应用。用错买号将扣除积分，出现第2次错买号，将永久取消亲的福利资格。</li>
                <li>请务必核对店铺名称<span>【堡*****店】</span></li>
                <li>对目标商品从上到下进行至少<span>2分钟</span>的浏览</li>
            </ul>
        </div>
        <div class="title"><i class="icon iconfont icon-xiangji"></i><span>上传截图</span></div>
        <div class="screenshot">
            <div class="screenshot_top"><span class="screenshot_top_left">上传截图</span><span class="screenshot_top_right">【截图示例】</span></div>
            <div class="screenshot_middle">
                <div class="content">
                    <img src="/static/images/screenshot.png" alt="">
                    <p>搜索截图</p>
                </div>
                <div class="content">
                    <img src="/static/images/screenshot.png" alt="">
                    <p>订单截图</p>
                </div>
            </div>
            <div class="screenshot_bottom">
                <p>务必保证搜索截图和其他任务截图间隔大于1分钟，小于1分钟的将审核不通过</p>
                <button>提交任务</button>
            </div>
        </div>
    </div>
</body>
</html>