<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::head_main_css">
</head>
<link rel="stylesheet" href="/static/css/register.css">
<body>
    <div class="register">
        <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i></div>
        <div class="vip"><img src="/static/images/vip.png" alt=""></div>
        <form action="" class="form" method="post">
            <ul>
                <li><img src="/static/images/user.png" alt=""><input type="text" name="loginName" placeholder="用户名"></li>
                <li><img src="/static/images/qq.png" alt=""><input type="text" name="qq" id="qqCodeParam" placeholder="QQ"></li>
                <li><img src="/static/images/mobile.png" alt=""><input type="text" name="phoneNum" id="phoneNum" placeholder="手机号码"></li>
                <li><img src="/static/images/confirm.png" alt=""><input type="text" name="checknum" id="validationCodeParam" placeholder="验证码"><button type="button" class="confirm" id="validationCode">获取验证码</button></li>
                <li><img src="/static/images/password.png" alt=""><input type="password" name="passWord" placeholder="请输入6到18位密码"></li>
                <li><img src="/static/images/password.png" alt=""><input type="password" placeholder="确认密码"></li>
            </ul>
            <input class="button" type="button" id="register" value="注册">
        </form>
        <div class="footer">
            <div class="left"><p><a href="/login">返回登录</a></p></div>
            <div class="right"><p><a href="/retrieve-pwd">找回密码</a></p></div>
        </div>
    </div>
    <script src="/static/scripts/register.js"></script>
</body>
</html>