<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>-->
    <script src="/static/scripts/plugins/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_pae0fnfml5jt6gvi.css">-->
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/withdrawals.css">
</head>
<body>
    <div class="withdrawals">
        <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i></div>
        <div class="title"><span>资金提现</span></div>
        <div class="content">
            <div class="top">
                <div class="left">
                    <div class="radio"><input type="radio"><div class="text"><p class="cash">提现</p><p>微信收款二维码</p></div></div>
                    <div class="payee"><label for="">收款人:</label><input type="text"></div></div>
                <div class="right"><img src="/static/images/weqrcode.png" alt=""><p>微信收款二维码</p></div>
            </div>
            <div class="bottom"><div class="left"><div class="radio"><input type="radio"><div class="text"><p class="cash">提现</p><p>银行账号收款</p></div></div></div></div>
        </div>
        <div class="footer"><button>提交任务</button></div>
    </div>
</body>
</html>