<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::head_main_css"></head>
<link rel="stylesheet" href="/static/css/active-task.css">
<link rel="stylesheet" href="/static/css/dropload.css">
</head>
<body>
<div class="activeTask outer">
    <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i>活动任务</div>
    <div class="top"><p th:if="${tbUser != null}"><span th:text="${tbUser.tbUserNum}"></span></p><span
            th:if="${tbUser == null}"><button id="bind" class="operateButton">绑定淘宝号</button></span></div>
    <div class="list">
        <ul class="list-item">
        </ul>
    </div>
</div>
<script src="/static/scripts/plugins/dropload.js"></script>
<script src="/static/scripts/task/active-task.js"></script>
</body>
</html>