<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::head_main_css"></head>
    <link rel="stylesheet" href="/static/css/active-task.css">
</head>
<body>
    <div class="activeTask">
        <div class="header"><i class="icon iconfont icon-jinlingyingcaiicon01"></i>活动任务</div>
        <div class="top"><p>abc123</p><button class="operateButton">添加</button></div>
        <div class="list">
            <ul>
                <li>
                    <div class="left"><p class="username">梧桐落叶飘霜雪</p><p class="browse">浏览</p><div class="label"><span class="labelButton">男</span><span class="labelButton">全国</span><span class="labelButton">18-24岁</span></div></div>
                    <div class="right"><p>0.20金币</p><button class="operateButton">领取任务</button></div>
                </li>
                <li>
                    <div class="left"><p class="username">梧桐落叶飘霜雪</p><p class="browse">浏览</p><div class="label"><span class="labelButton">男</span><span class="labelButton">全国</span><span class="labelButton">18-24岁</span></div></div>
                    <div class="right"><p>0.20金币</p><button class="operateButton">领取任务</button></div>
                </li>
                <li>
                    <div class="left"><p class="username">梧桐落叶飘霜雪</p><p class="browse">浏览</p><div class="label"><span class="labelButton">男</span><span class="labelButton">全国</span><span class="labelButton">18-24岁</span></div></div>
                    <div class="right"><p>0.20金币</p><button class="operateButton">领取任务</button></div>
                </li>
                <li>
                    <div class="left"><p class="username">梧桐落叶飘霜雪</p><p class="browse">浏览</p><div class="label"><span class="labelButton">男</span><span class="labelButton">全国</span><span class="labelButton">18-24岁</span></div></div>
                    <div class="right"><p>0.20金币</p><button class="operateButton">领取任务</button></div>
                </li>
                <li>
                    <div class="left"><p class="username">梧桐落叶飘霜雪</p><p class="browse">浏览</p><div class="label"><span class="labelButton">男</span><span class="labelButton">全国</span><span class="labelButton">18-24岁</span></div></div>
                    <div class="right"><p>0.20金币</p><button class="operateButton">领取任务</button></div>
                </li>
            </ul>
        </div>
        <div class="footer" th:replace="/common/foot::main_footer"></div>
    </div>
</body>
</html>